# Recomendation

## load dataset

In [2]:
import pandas as pd
df1 = pd.read_csv("student-scores.csv")
df = df1.copy()
df.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65,65,80,74,76

## drop irrelevant columns

In [3]:
df.columns
df.drop(columns=['id','first_name','last_name','email'],axis=1, inplace=True)

## create new features from all score

In [4]:
df["total_score"] = df["math_score"] + df["history_score"] + df["physics_score"] + df["chemistry_score"] + df["biology_score"] + df["english_score"] + df["geography_score"]
df["average_score"] = df["total_score"] / 7
df.head()

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87,574,82.000000
1,female,False,2,False,47,Doctor,90,86,96,100,90,88,90,640,91.428571
2,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94,605,86.428571
3,female,False,5,False,3,Artist,71,74,88,80,89,63,86,551,78.714286
4,male,False,5,False,10,Unknown,84,77,65,65,80,74,76,521,74.428571

In [5]:
df.head()

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,male,False,3,False,27,Lawyer,73,81,93,97,63,80,87,574,82.000000
1,female,False,2,False,47,Doctor,90,86,96,100,90,88,90,640,91.428571
2,female,False,9,True,13,Government Officer,81,97,95,96,65,77,94,605,86.428571
3,female,False,5,False,3,Artist,71,74,88,80,89,63,86,551,78.714286
4,male,False,5,False,10,Unknown,84,77,65,65,80,74,76,521,74.428571

## Encoding Categorical Columns

In [6]:
# from sklearn.preprocessing import LabelEncoder

# # Create a LabelEncoder object
# label_encoder = LabelEncoder()

# # Encode categorical columns using label encoder
# df['gender'] = label_encoder.fit_transform(df['gender'])
# df['part_time_job'] = label_encoder.fit_transform(df['part_time_job'])
# df['extracurricular_activities'] = label_encoder.fit_transform(df['extracurricular_activities'])
# df['career_aspiration'] = label_encoder.fit_transform(df['career_aspiration'])
# Define mapping dictionaries for categorical features
gender_map = {'male': 0, 'female': 1}
part_time_job_map = {False: 0, True: 1}
extracurricular_activities_map = {False: 0, True: 1}
career_aspiration_map = {
        'Lawyer': 0, 'Doctor': 1, 'Government Officer': 2, 'Artist': 3, 'Unknown': 4,
        'Software Engineer': 5, 'Teacher': 6, 'Business Owner': 7, 'Scientist': 8,
        'Banker': 9, 'Writer': 10, 'Accountant': 11, 'Designer': 12,
        'Construction Engineer': 13, 'Game Developer': 14, 'Stock Investor': 15,
        'Real Estate Developer': 16
    }
# Apply mapping to the DataFrame
df['gender'] = df['gender'].map(gender_map)
df['part_time_job'] = df['part_time_job'].map(part_time_job_map)
df['extracurricular_activities'] = df['extracurricular_activities'].map(extracurricular_activities_map)
df['career_aspiration'] = df['career_aspiration'].map(career_aspiration_map)

In [7]:
df.head()

,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score,total_score,average_score
0,0,0,3,0,27,0,73,81,93,97,63,80,87,574,82.000000
1,1,0,2,0,47,1,90,86,96,100,90,88,90,640,91.428571
2,1,0,9,1,13,2,81,97,95,96,65,77,94,605,86.428571
3,1,0,5,0,3,3,71,74,88,80,89,63,86,551,78.714286
4,0,0,5,0,10,4,84,77,65,65,80,74,76,521,74.428571

## Balance Dataset

In [8]:
df['career_aspiration'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [9]:
df['career_aspiration'].value_counts()

career_aspiration
5     315
7     309
4     223
9     169
0     138
11    126
1     119
16     83
15     73
13     68
3      67
14     63
2      61
6      59
12     56
8      39
10     32
Name: count, dtype: int64

In [10]:
!pip install imblearn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: imblearn in c:\users\ambikesh.jha\appdata\roaming\python\python312\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\ambikesh.jha\appdata\roaming\python\python312\site-packages (from imblearn) (0.12.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ambikesh.jha\appdata\roaming\python\python312\site-packages (from imbalanced-learn->imblearn) (2.0.1)
Requirement already satisfied: scipy>=1.5.0 in c:\users\ambikesh.jha\appdata\roaming\python\python312\site-packages (from imbalanced-learn->imblearn) (1.14.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\ambikesh.jha\appdata\roaming\python\python312\site-packages (from imbalanced-learn->imblearn) (1.5.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\ambikesh.jha\appdata\roaming\python\python312\site-packages (from imbalanced-learn->imblearn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ambikesh.jha\appdata\roaming\python\python312\site-packages (from imbalanced-learn->imblearn) (3.5.0)

In [11]:
df.isna().sum()

gender                        0
part_time_job                 0
absence_days                  0
extracurricular_activities    0
weekly_self_study_hours       0
career_aspiration             0
math_score                    0
history_score                 0
physics_score                 0
chemistry_score               0
biology_score                 0
english_score                 0
geography_score               0
total_score                   0
average_score                 0
dtype: int64

In [12]:
from imblearn.over_sampling import SMOTE

# Create SMOTE object
smote = SMOTE(random_state=42)

# Separate features and target variable
X = df.drop('career_aspiration', axis=1)
y = df['career_aspiration']

# Apply SMOTE to the data
X_resampled, y_resampled = smote.fit_resample(X, y)

In [13]:
y_resampled.value_counts()

career_aspiration
0     315
1     315
2     315
3     315
4     315
5     315
6     315
7     315
8     315
9     315
10    315
11    315
12    315
13    315
14    315
15    315
16    315
Name: count, dtype: int64

## Train test Split

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_resampled,y_resampled,test_size=0.2, random_state=42)

In [20]:
X_train.shape,X_test.shape  ,y_train.shape,y_test.shape

((4284, 14), (1071, 14), (4284,), (1071,))

In [21]:
X_train.shape

(4284, 14)

## Feature Scalling

In [22]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit the scaler to the training data and transform both training and testing data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [23]:
X_train_scaled.shape

(4284, 14)

# Models Training (Multiple Models)

In [25]:
!pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xgboost in c:\users\ambikesh.jha\appdata\roaming\python\python312\site-packages (2.1.1)
Requirement already satisfied: numpy in c:\users\ambikesh.jha\appdata\roaming\python\python312\site-packages (from xgboost) (2.0.1)
Requirement already satisfied: scipy in c:\users\ambikesh.jha\appdata\roaming\python\python312\site-packages (from xgboost) (1.14.1)

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import warnings
warnings.filterwarnings("ignore")

# Define models
models = {
    "Logistic Regression": LogisticRegression(),
    "Support Vector Classifier": SVC(),
    "Random Forest Classifier": RandomForestClassifier(),
    "K Nearest Neighbors": KNeighborsClassifier(),
    "Decision Tree Classifier": DecisionTreeClassifier(),
    "Gaussian Naive Bayes": GaussianNB(),
    "AdaBoost Classifier": AdaBoostClassifier(),
    "XGBoost Classifier": XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')
}

In [27]:

# Train and evaluate each model
for name, model in models.items():
    print("Model:", name)
    model.fit(X_train_scaled, y_train)
    y_pred = model.predict(X_test_scaled)
    score = accuracy_score(y_test, y_pred)
    print(score)

Model: Logistic Regression
0.48739495798319327
Model: Support Vector Classifier
0.6470588235294118
Model: Random Forest Classifier
0.8281979458450047
Model: K Nearest Neighbors
0.6778711484593838
Model: Decision Tree Classifier
0.6844070961718021
Model: Gaussian Naive Bayes
0.3099906629318394
Model: AdaBoost Classifier
0.2334267040149393
Model: XGBoost Classifier
0.8272642390289449

# Hyperparameter Tuning

### for Random Forest

In [28]:
from sklearn.model_selection import GridSearchCV

param_grid_rf = {
    'n_estimators': [200, 500],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [4,6,8,12],
    'criterion' :['gini', 'entropy']
}

rf = RandomForestClassifier()

grid_search_rf = GridSearchCV(estimator=rf, param_grid=param_grid_rf, cv=5, n_jobs=-1, verbose=2, scoring='accuracy')

grid_search_rf.fit(X_train_scaled, y_train)

print("Best parameters for Random Forest:", grid_search_rf.best_params_)
print("Best accuracy score for Random Forest:", grid_search_rf.best_score_)

Fitting 5 folds for each of 48 candidates, totalling 240 fits
Best parameters for Random Forest: {'criterion': 'entropy', 'max_depth': 12, 'max_features': 'log2', 'n_estimators': 500}
Best accuracy score for Random Forest: 0.8022936455141277

### for XGBoost

In [29]:
param_grid_xgb = {
    'n_estimators': [100, 200],
    'max_depth' : [4,6,8,12],
    'learning_rate': [0.01, 0.1, 0.2],
    'gamma': [0.1, 0.2]
}

xgb = XGBClassifier()

grid_search_xgb = GridSearchCV(estimator=xgb, param_grid=param_grid_xgb, cv=5, n_jobs=-1, verbose=2, scoring='accuracy')

grid_search_xgb.fit(X_train_scaled, y_train)

print("Best parameters for XGBoost:", grid_search_xgb.best_params_)
print("Best accuracy score for XGBoost:", grid_search_xgb.best_score_)

Fitting 5 folds for each of 48 candidates, totalling 240 fits
Best parameters for XGBoost: {'gamma': 0.1, 'learning_rate': 0.1, 'max_depth': 12, 'n_estimators': 200}
Best accuracy score for XGBoost: 0.7885167777184048

### for Support Vector Classifier (SVC)

In [30]:
param_grid_svc = {
    'C': [0.1, 1, 10, 100],
    'gamma': [1, 0.1, 0.01, 0.001],
    'kernel': ['linear', 'rbf', 'poly']
}

svc = SVC()

grid_search_svc = GridSearchCV(estimator=svc, param_grid=param_grid_svc, cv=5, n_jobs=-1, verbose=2, scoring='accuracy')

grid_search_svc.fit(X_train_scaled, y_train)

print("Best parameters for SVC:", grid_search_svc.best_params_)
print("Best accuracy score for SVC:", grid_search_svc.best_score_)

Fitting 5 folds for each of 48 candidates, totalling 240 fits
Best parameters for SVC: {'C': 100, 'gamma': 0.1, 'kernel': 'rbf'}
Best accuracy score for SVC: 0.7826783825341607

# Model Selection (Random Forest)

In [31]:
model = RandomForestClassifier()

best_model = model.fit(X_train_scaled, y_train)

y_pred = model.predict(X_test_scaled)

# Calculate metrics
print("Accuracy: ",accuracy_score(y_test, y_pred))
print("Report: \n",classification_report(y_test, y_pred))
print("Confusion Matrix: \n",confusion_matrix(y_test, y_pred))

Accuracy:  0.830999066293184
Report:
               precision    recall  f1-score   support

           0       0.83      0.85      0.84        68
           1       0.79      0.99      0.88        72
           2       0.74      0.96      0.84        57
           3       0.89      0.95      0.92        58
           4       0.74      0.44      0.55        66
           5       0.58      0.42      0.49        76
           6       0.90      0.99      0.94        71
           7       0.95      0.93      0.94        61
           8       0.75      0.98      0.85        53
           9       0.75      0.72      0.73        61
          10       0.90      0.97      0.93        63
          11       0.86      0.68      0.76        53
          12       0.92      0.85      0.89        68
          13       0.77      0.93      0.84        55
          14       0.90      0.98      0.94        57
          15       0.91      0.76      0.83        63
          16       0.93      0.83      0.88        69

    accuracy                           0.83      1071
   macro avg       0.83      0.84      0.83      1071
weighted avg       0.83      0.83      0.82      1071

Confusion Matrix:
 [[58  4  0  0  3  0  0  0  0  1  1  0  0  0  0  1  0]
 [ 0 71  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0 55  0  0  0  1  0  0  0  0  0  0  0  0  0  1]
 [ 0  0  0 55  0  0  0  1  0  0  0  0  0  0  2  0  0]
 [ 2  4  9  0 29  7  2  0  2  2  1  2  2  0  1  1  2]
 [ 6  5  0  0  2 32  1  0  7 10  0  2  0 10  0  1  0]
 [ 0  0  0  0  0  1 70  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  2  0  0  0 57  0  0  0  0  0  0  2  0  0]
 [ 0  1  0  0  0  0  0  0 52  0  0  0  0  0  0  0  0]
 [ 2  1  1  0  0  4  2  0  2 44  3  0  2  0  0  0  0]
 [ 0  0  0  0  2  0  0  0  0  0 61  0  0  0  0  0  0]
 [ 0  3  0  0  2  6  1  0  1  1  1 36  1  1  0  0  0]
 [ 0  0  2  0  1  0  1  0  1  0  1  1 58  1  1  0  1]
 [ 0  0  0  0  0  0  0  0  2  0  0  0  0 51  0  2  0]
 [ 0  0  0  0  0  0  0  1  0  0  0  0  0  0 56  0  0]
 [ 2  1  2  0  0  4  0  0  1  1  0  1  0  3  0 48  0]
 [ 0  0  5  5  0  0  0  1  1  0  0  0  0  0  0  0 57]]

# Single Input Predictions (Testing)

In [32]:
# test 1
print("Actual Label :", y_test.iloc[10])
print("Model Prediction :",model.predict(X_test_scaled[10].reshape(1,-1))[0])
if y_test.iloc[10]==model.predict(X_test_scaled[10].reshape(1,-1)):
    print("Model doing well.....")
else:
    print("not sure......")

Actual Label : 12
Model Prediction : 12
Model doing well.....

In [33]:
# test 2
print("Actual Label :", y_test.iloc[300])
print("Model Prediction :",model.predict(X_test_scaled[300].reshape(1,-1))[0])
if y_test.iloc[10]==model.predict(X_test_scaled[10].reshape(1,-1)):
    print("Model doing well.....")
else:
    print("not sure......")

Actual Label : 0
Model Prediction : 0
Model doing well.....

In [34]:
# test 2
print("Actual Label :", y_test.iloc[23])
print("Model Prediction :",model.predict(X_test_scaled[23].reshape(1,-1))[0])
if y_test.iloc[10]==model.predict(X_test_scaled[10].reshape(1,-1)):
    print("Model doing well.....")
else:
    print("not sure......")

Actual Label : 3
Model Prediction : 3
Model doing well.....

In [41]:
import pickle

# SAVE FILES
pickle.dump(scaler,open("Models/scaler.pkl",'wb'))
pickle.dump(model,open("Models/model.pkl",'wb'))

In [42]:
# Load the scaler, label encoder, and model
scaler = pickle.load(open("Models/scaler.pkl", 'rb'))
model = pickle.load(open("Models/model.pkl", 'rb'))

# Recommendation System

In [43]:
import pickle
import numpy as np

# Load the scaler, label encoder, model, and class names
scaler = pickle.load(open("Models/scaler.pkl", 'rb'))
model = pickle.load(open("Models/model.pkl", 'rb'))
class_names = ['Lawyer', 'Doctor', 'Government Officer', 'Artist', 'Unknown',
               'Software Engineer', 'Teacher', 'Business Owner', 'Scientist',
               'Banker', 'Writer', 'Accountant', 'Designer',
               'Construction Engineer', 'Game Developer', 'Stock Investor',
               'Real Estate Developer']

def Recommendations(gender, part_time_job, absence_days, extracurricular_activities,
                    weekly_self_study_hours, math_score, history_score, physics_score,
                    chemistry_score, biology_score, english_score, geography_score,
                    total_score,average_score):
    
    # Encode categorical variables
    gender_encoded = 1 if gender.lower() == 'female' else 0
    part_time_job_encoded = 1 if part_time_job else 0
    extracurricular_activities_encoded = 1 if extracurricular_activities else 0
    
    # Create feature array
    feature_array = np.array([[gender_encoded, part_time_job_encoded, absence_days, extracurricular_activities_encoded,
                               weekly_self_study_hours, math_score, history_score, physics_score,
                               chemistry_score, biology_score, english_score, geography_score,total_score,average_score]])
    
    # Scale features
    scaled_features = scaler.transform(feature_array)
    
    # Predict using the model
    probabilities = model.predict_proba(scaled_features)
    
    # Get top five predicted classes along with their probabilities
    top_classes_idx = np.argsort(-probabilities[0])[:5]
    top_classes_names_probs = [(class_names[idx], probabilities[0][idx]) for idx in top_classes_idx]
    
    return top_classes_names_probs

In [44]:
import pickle
import numpy as np

# Load the scaler, label encoder, model, and class names
scaler = pickle.load(open("Models/scaler.pkl", 'rb'))
model = pickle.load(open("Models/model.pkl", 'rb'))
class_names = ['Lawyer', 'Doctor', 'Government Officer', 'Artist', 'Unknown',
               'Software Engineer', 'Teacher', 'Business Owner', 'Scientist',
               'Banker', 'Writer', 'Accountant', 'Designer',
               'Construction Engineer', 'Game Developer', 'Stock Investor',
               'Real Estate Developer']

def Recommendations(gender, part_time_job, absence_days, extracurricular_activities,
                    weekly_self_study_hours, math_score, history_score, physics_score,
                    chemistry_score, biology_score, english_score, geography_score,
                    total_score,average_score):
    
    # Encode categorical variables
    gender_encoded = 1 if gender.lower() == 'female' else 0
    part_time_job_encoded = 1 if part_time_job else 0
    extracurricular_activities_encoded = 1 if extracurricular_activities else 0
    
    # Create feature array
    feature_array = np.array([[gender_encoded, part_time_job_encoded, absence_days, extracurricular_activities_encoded,
                               weekly_self_study_hours, math_score, history_score, physics_score,
                               chemistry_score, biology_score, english_score, geography_score,total_score,average_score]])
    
    # Scale features
    scaled_features = scaler.transform(feature_array)
    
    # Predict using the model
    probabilities = model.predict_proba(scaled_features)
    
    # Get top five predicted classes along with their probabilities
    top_classes_idx = np.argsort(-probabilities[0])[:5]
    top_classes_names_probs = [(class_names[idx], probabilities[0][idx]) for idx in top_classes_idx]
    
    return top_classes_names_probs

In [50]:
# Example usage 1
final_recommendations = Recommendations(gender='female',
                                        part_time_job=False,
                                        absence_days=2,
                                        extracurricular_activities=False,
                                        weekly_self_study_hours=7,
                                        math_score=65,
                                        history_score=60,
                                        physics_score=97,
                                        chemistry_score=94,
                                        biology_score=71,
                                        english_score=81,
                                        geography_score=66,
                                        total_score=534,
                                        average_score=76.285714)

print("Top recommended studies with probabilities:")
print("="*50)
for class_name, probability in final_recommendations:
    print(f"{class_name} with probability {probability}")

Top recommended studies with probabilities:
==================================================
Teacher with probability 0.81
Government Officer with probability 0.1
Unknown with probability 0.04
Real Estate Developer with probability 0.02
Business Owner with probability 0.01

In [51]:
# Example usage 2
final_recommendations = Recommendations(gender='female',
                                        part_time_job=False,
                                        absence_days=2,
                                        extracurricular_activities=False,
                                        weekly_self_study_hours=4,
                                        math_score=87,
                                        history_score=73,
                                        physics_score=98,
                                        chemistry_score=91,
                                        biology_score=79,
                                        english_score=60,
                                        geography_score=77,
                                        total_score=583,
                                        average_score=83.285714)

print("Top recommended studies with probabilities:")
print("="*50)
for class_name, probability in final_recommendations:
    print(f"{class_name} with probability {probability}")

Top recommended studies with probabilities:
==================================================
Artist with probability 0.54
Game Developer with probability 0.22
Real Estate Developer with probability 0.1
Business Owner with probability 0.04
Unknown with probability 0.03